/*
 * infra-global-esquema.css
 */

* {
  color: #333;
}
div.infraAreaGlobal {
  border: 2px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
input, textarea, select {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: hsl($hC, 42%, 91%); /* #fff */
  border-width: 0;
  -moz-box-shadow: 2px 2px 2px #888 inset;
  box-shadow: 2px 2px 2px #888 inset;
  padding: 3px;
}
input:focus, select:focus, textarea:focus {
  background-color: #fff; /* #ddd */
}
fieldset.infraFieldset {
  position: relative;
  margin-top: 1.7em !important;
  padding-top: 1.5em !important;
  background: hsl($hC, 42%, 91%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 3px #ababab inset;
  box-shadow: 0 0 3px #ababab inset;
  border: 0.1em solid hsl($hC, 80%, 37%);
}
table {
  font-size: 1.3em;
}

/*
 * infra-esquema-local.css
 */
table.infraTable {
	background-color: #eee;
}

tr.infraTrClara, tr.infraTrEscura {
  background-color: #fff;
}
div.infraMenu a {
  background-color: $background; /* #EFEFEF */
}
input.infraButton, button.infraButton, a.infraButton,
input.infraButton:hover, button.infraButton:hover, a.infraButton:hover,
button#btnDownloadCompletoRS, button#btnDownloadCompletoTRF4 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input.infraButton, button.infraButton,
input.infraButton:hover, button.infraButton:hover,
button#btnDownloadCompletoRS, button#btnDownloadCompletoTRF4 {
  font-size: 1.5em;
  padding: 8px;
  -moz-box-shadow: none;
  box-shadow: none;
	text-shadow:0 1px 2px #666;
	-webkit-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
	-o-transition:all 400ms ease;
	transition:all 400ms ease;
  border-color:hsl($hC, 79%, 45%) hsl($hC, 79%, 39%) hsl($hC, 79%, 34%);
  background: hsl($hC,63%,60%); /* Old browsers */
  background: -moz-linear-gradient(top,  hsl($hC,89%,78%) 0%, hsl($hC,63%,60%) 5%, hsl($hC,78%,38%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl($hC,89%,78%)), color-stop(5%,hsl($hC,63%,60%)), color-stop(100%,hsl($hC,78%,38%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  hsl($hC,89%,78%) 0%,hsl($hC,63%,60%) 5%,hsl($hC,78%,38%) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  hsl($hC,89%,78%) 0%,hsl($hC,63%,60%) 5%,hsl($hC,78%,38%) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  hsl($hC,89%,78%) 0%,hsl($hC,63%,60%) 5%,hsl($hC,78%,38%) 100%); /* IE10+ */
  background: linear-gradient(top,  hsl($hC,89%,78%) 0%,hsl($hC,63%,60%) 5%,hsl($hC,78%,38%) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl($hC,63%,60%)', endColorstr='hsl($hC,78%,38%)',GradientType=0 ); /* IE6-9 */
  color: hsl($hC, 100%, 95%);
  	cursor: pointer;
    font-weight: bold;
}
input.infraButton, button.infraButton,
button.infraButton span {
  font-weight: bold;
}
button.infraButton span, button#btnDownloadCompletoTRF4 span, button#btnDownloadCompletoRS span {
  color: hsl($hC, 100%, 95%);
}
input.infraButton:hover, button.infraButton:hover,
input.infraButton:focus, button.infraButton:focus,
button#btnDownloadCompletoTRF4:hover, button#btnDownloadCompletoRS:hover, 
button#btnDownloadCompletoTRF4:focus, button#btnDownloadCompletoRS:focus {
  background: hsl($hC,63%,60%); /* Old browsers */
  background: -moz-linear-gradient(top,  hsl($hC,91%,78%) 0%, hsl($hC,63%,60%) 5%, hsl($hC,79%,32%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl($hC,91%,78%)), color-stop(5%,hsl($hC,63%,60%)), color-stop(100%,hsl($hC,79%,32%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  hsl($hC,91%,78%) 0%,hsl($hC,63%,60%) 5%,hsl($hC,79%,32%) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  hsl($hC,91%,78%) 0%,hsl($hC,63%,60%) 5%,hsl($hC,79%,32%) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  hsl($hC,91%,78%) 0%,hsl($hC,63%,60%) 5%,hsl($hC,79%,32%) 100%); /* IE10+ */
  background: linear-gradient(top,  hsl($hC,91%,78%) 0%,hsl($hC,63%,60%) 5%,hsl($hC,79%,32%) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl($hC,63%,60%)', endColorstr='hsl($hC,79%,32%)',GradientType=0 ); /* IE6-9 */
  color: #fff;
}
.infraButton.disabled, button:disabled {
  background: #fafafa;
  border-color: #b1b1b1;
  color: #a0a0a0;
}

/*
 * infra-ajax.css
 */

div.infraAjaxAutoCompletar {
  background-color: hsl($hC, 42%, 91%); /* #fff */
}

/*
 * LOCAL
 */
html, body {
  margin: 0;
}
#tabLocalizadores tr.infraTrMarcada td {
  background-color: hsl($hC, 78%, 38%);
  color: #fff;
  text-shadow: 0 1px 2px #666;
}
legend.infraLegend,
legend.infraLegendOpcional,
legend.infraLegendObrigatorio {
	margin-top: -1.2em !important;
  border: 0.1em solid hsl($hC, 80%, 37%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 5px #888;
  box-shadow: 2px 2px 5px #888;
  padding: 2px 8px;
  background: hsl($hC, 42%, 91%);
}
table[summary=Eventos] tr > td:first-child + td + td {
  padding: 8px;
  padding-left: 11px;
}
#fldAcoes input {
  background: #fff;
}
#divInfraBarraComandosSuperior #lblSigilo,
#divInfraBarraComandosSuperior #lblReuPreso,
#divInfraBarraComandosSuperior #lblPrioridade {
	margin-top: 5px;
	vertical-align: middle;
	margin-left:10px;
	-moz-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;
}
#divInfraBarraComandosSuperior #lblPrioridade {
	background: #AE432E;
}
#divOrdenacao, #divPaginacao, #divCamposConsulta {
  background-color: hsl($h, 42%, 91%);
}
select:focus option {
  background-color: hsl($hC, 42%, 91%); /* #fff */
}
#fldPartes td {
  vertical-align: top;
  padding: 10px 1px 5px 8px;
}
#fldAssuntos td {
  text-align: center;
}
#fldAssuntos tr > td:first-child + td {
  font-size: 1.4em;
  text-shadow: 1px 1px 0 #ddd;
}
span.infraEventoPrazoParte[data-parte],
label.infraEventoDescricao,
label.infraEventoUsuario {
  color: rgb(89, 89, 89);
}
.infraTable label.infraEventoDescricao {
  font-size: 1.2em;
  margin-right: 10px;
  overflow: visible;
}
table.infraTable td.infraEventoDescricao {
  padding: 0.7em 0.5em;
}
tr.infraEventoMuitoImportante[data-parte="INTERNO"] td.infraEventoDescricao {
  border-color: rgb(105, 142, 35);
}
span.infraEventoPrazoParte[data-parte] {
  font-weight: bold;
	text-shadow: 1px 1px #fff;
}
tr[data-parte="INTERNO"] label.infraEventoDescricao,
tr[data-parte="INTERNO"] label.infraEventoUsuario {
  color: rgb(119, 171, 19);
}
span.infraEventoPrazoParte[data-parte="AUTOR"],
tr[data-parte="AUTOR"] label.infraEventoDescricao,
tr[data-parte="AUTOR"] label.infraEventoUsuario {
  color: rgb(5, 141, 199);
}
span.infraEventoPrazoParte[data-parte="REU"],
tr[data-parte="REU"] label.infraEventoDescricao,
tr[data-parte="REU"] label.infraEventoUsuario {
  color: rgb(174, 67, 46);
}
a.infraNomeParte[data-parte],
span.infraNomeParte[data-parte],
tr.infraEventoImportante label.infraEventoDescricao,
tr.infraEventoMuitoImportante label.infraEventoDescricao {
  display: inline-block;
  padding: 2px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  margin-bottom: 5px;
  background-color: rgb(89, 89, 89);
  color: #fff;
}
tr.infraEventoImportante label.infraEventoDescricao,
tr.infraEventoMuitoImportante label.infraEventoDescricao {
  text-shadow: 0 1px 2px #666;
}
tr.infraEventoImportante[data-parte="INTERNO"] label.infraEventoDescricao,
tr.infraEventoMuitoImportante[data-parte="INTERNO"] label.infraEventoDescricao {
  background-color: rgb(119, 171, 19);
  border: 1px solid rgb(51, 125, 51);
}
a.infraNomeParte[data-parte="AUTOR"],
span.infraNomeParte[data-parte="AUTOR"],
tr.infraEventoImportante[data-parte="AUTOR"] label.infraEventoDescricao,
tr.infraEventoMuitoImportante[data-parte="AUTOR"] label.infraEventoDescricao {
  background-color: rgb(5, 141, 199);
}
a.infraNomeParte[data-parte="REU"],
span.infraNomeParte[data-parte="REU"],
tr.infraEventoImportante[data-parte="REU"] label.infraEventoDescricao,
tr.infraEventoMuitoImportante[data-parte="REU"] label.infraEventoDescricao {
  background-color: rgb(174, 67, 46);
}
tr.infraEventoMuitoImportante td.infraEventoDescricao {
  border-style: solid;
  border-width: 2px;
}
.infraEventoPrazoAguardando label.infraEventoDescricao {
  color: rgb(174, 67, 46) !important; /* deixa o título vermelho mesmo sendo interno em intimações que o prazo ainda não abriu */
}

/* Lembretes provisório - enquanto não migrarmos a versão do Plugin */

#fldLembretes tr > td:first-child + td + td + td + td {
	-webkit-border-radius: 0.5ex;
	-moz-border-radius: 0.5ex;
	border-radius: 0.5ex;
	font-weight: bold;
	border: 1px solid #cc0;
	background: #ffff99; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffff99 0%, #fdfdcd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff99), color-stop(100%,#fdfdcd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffff99 0%,#fdfdcd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffff99 0%,#fdfdcd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffff99 0%,#fdfdcd 100%); /* IE10+ */
	background: linear-gradient(top,  #ffff99 0%,#fdfdcd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff99', endColorstr='#fdfdcd',GradientType=0 ); /* IE6-9 */
}

table[summary="Eventos"] tr > td:first-child + td + td + td {
  text-align: center;
}

a.infraButton {
	padding: 3px 1px;
	font-size: 1.2em;
}

