body {
    background-color: $background;
}        
#divInfraAreaTela input, select {
    background-color: hsla(0, 0%, 80%, 0.25);
}
#divInfraAreaTela input:focus {
    background-color: hsla(0, 0%, 50%, 0.5);
}
select:focus {
    background-color: hsla(0, 0%, 50%, 0.25);
}
select:focus option {
    background-color: hsla(0, 0%, 100%, 0.25);
}
div.infraAjaxAutoCompletar {
    background-color: $background;
}
div.infraAjaxAutoCompletar li {
    background-color: hsla(0, 0%, 80%, 0.25);
}
div.infraAjaxAutoCompletar li.selected {
    background-color: Highlight;
}
div.infraAjaxAutoCompletar li.selected a, div.infraAjaxAutoCompletar li.selected b {
    color: HighlightText;
}
table.infraTable {
    border-spacing: 0;
    border: solid #ccc;
    border-width: 1px 0 0 1px;
    background-color: transparent;
}
.infraTable th, .infraTable td {
    border: solid #ccc;
    border-width: 0 1px 1px 0;
}
.infraTable table th, .infraTable table td {
    border: none;
}
tr.infraTrClara {
    background-color: hsla(0, 0%, 98%, 0.5);
}
tr.infraTrEscura {
    background-color: hsla(0, 0%, 94%, 0.5);
}
tr.infraTrSelecionada td {
    background-color: hsla(0, 0%, 50%, 0.25);
}
tr.infraTrSelecionada td td {
    background-color: hsla(0, 0%, 50%, 0);
}
tr.infraTrMarcada td {
    background-color: hsla(0, 0%, 50%, 0.375);
}
tr[data-classe="000169"] {
    background-color: #bf8040;
}
tr[data-classe="000169"][data-competencia="10"] {
    background-color: #60a0d2;
}
div.infraMenu a {
    background-color: $background;
    border-color: $background;
}
a.docLink {
    font-size: 11px;
}
#lastClicked {
    background: #ff0;
}
.infraBarraComandos, .infraAreaTelaD, .infraAreaDados {
    border-color: $background !important;
}
div.infraBarraTribunal {
    -moz-background-size: 1px 80px;
    background-size: 1px 80px;
}
.infraTable td label {
    font-size: 1em;
}
label.infraLabelObrigatorio {
    color: #555;
}
img.infraImg, img.infraImgNormal, img.infraImg:hover, img.infraImgNormal:hover {
    width: auto;
    height: auto;
}
.prazoAguardaAbertura {
    background-color: hsl(0, 50%, 80%);
}
.prazoAberto {
    background-color: hsl(60, 50%, 80%);
}
table.prazoComDestaque .prazoFechado {
    background-color: hsla(120, 50%, 50%, 0.2);
}
.prazoExtra {
    display: none;
}
.prazoComDestaque .prazoExtra {
    display: inline;
}
.prazoComDestaque .prazoFechado .prazoEvento {
    background-color: hsl(60, 40%, 85%);
}
*[disabled] {
    color: #aaa;
}
button {
    background-color: #eee;
}
a img {
    border: none;
}
div[class^=infraLegend], div[id^=divDes] {
    background-color: $background !important;
}
div.infraAjaxAutoCompletar { max-height: 30em; overflow-y: scroll; } div.infraAjaxAutoCompletar li a { display: block; margin-left: 3ex; text-indent: -3ex; } div.infraAjaxAutoCompletar li.selected { background-color: Highlight; } div.infraAjaxAutoCompletar li.selected a, div.infraAjaxAutoCompletar li.selected b { color: HighlightText; }
.extraGedproRotuloGreen, .extraGedproRotuloBlue { cursor: pointer; }
.extraGedproRotuloGreen { color: green; }
.extraGedproRotuloBlue { color: blue; }
.extraGedproRotuloGray { color: gray; cursor: inherit; }
.extraGedproImg { cursor: inherit; }
.extraFieldset { -moz-border-radius: 8px; }
button.infraButton[class~=extraBuscarPreventosButton] { font-size: .8em; }
.extraLembrete {
    float: left;
    font-size: 12px;
    min-width: 20ex;
    max-width: 60ex;
    margin-bottom: 0.5em;
    margin-right: 1ex;
    padding: 0 1ex;
    text-align: center;
    background-color: hsl(60, 100%, 80%);
    color: hsl(0, 0%, 0%);
}
.extraLembreteVoce {
    background-color: hsl(60, 100%, 70%);
}
.extraLembrete a {
    float: right;
    margin: -0.5em 0.5ex 0;
}
.extraLembretePara, .extraLembreteData {
    margin-left: -1ex;
    margin-right: -1ex;
    color: hsl(0, 0%, 33%);
}
.extraLembretePara {
    margin-bottom: 0.5em;
}
.extraLembreteData {
    margin-top: 0.5em;
    text-align: right;
}
.extraLembrete abbr {
    color: hsl(240, 50%, 25%);
    border-bottom: 1pt dotted;
}
.extraSeparador {
    clear: both;
}

