/*
 * infra-global-esquema.css
 */
fieldset.infraFieldset {
  border: 2px groove $background;
  background: hsl($h, 42%, 93%);
}
/*
 * infra-esquema-local.css
 */

input.infraButton, button.infraButton,
input.infraButton:hover, button.infraButton:hover {
  background: hsl($hC,40%,60%); /* Old browsers */
  background: -moz-linear-gradient(top,  hsl($hC,40%,60%) 0%, hsl($hC,60%,40%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl($hC,40%,60%)), color-stop(100%,hsl($hC,60%,40%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  hsl($hC,40%,60%) 0%,hsl($hC,60%,40%) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  hsl($hC,40%,60%) 0%,hsl($hC,60%,40%) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  hsl($hC,40%,60%) 0%,hsl($hC,60%,40%) 100%); /* IE10+ */
  background: linear-gradient(top,  hsl($hC,40%,60%) 0%,hsl($hC,60%,40%) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl($hC,40%,60%)', endColorstr='hsl($hC,60%,40%)',GradientType=0 ); /* IE6-9 */
}
input.infraButton, button.infraButton,
input.infraButton:hover, button.infraButton:hover,
button#btnDownloadCompletoRS, button#btnDownloadCompletoRS:hover,
button#btnDownloadCompletoTRF4, button#btnDownloadCompletoTRF4:hover {
  font-size: 1.2em;
  padding: 4px;
}
input.infraButton, button.infraButton,
input.infraButton:hover, button.infraButton:hover,
button.infraButton span,
button#btnDownloadCompletoRS, button#btnDownloadCompletoRS:hover,
button#btnDownloadCompletoTRF4, button#btnDownloadCompletoTRF4:hover {
  font-weight: bold;
  color: #fff;
}

/*
 * LOCAL
 */

input, button, textarea, select, a.infraButton {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1px;
}
tr.infraTrMarcada td, tr.infraTrMarcada td a:link {
  color: #fff;
}
tr.infraTrMarcada td a:visited {
  color: hsl($hC, 100%, 90%);
}
#tabLocalizadores tr.infraTrMarcada td {
  text-shadow: 0 1px 1px #444;
}
input.infraButton[disabled], button.infraButton[disabled] {
  color: #aaa;
}

a.infraButton {
	padding: 3px 1px;
}
